body
{
	margin: 0;
	padding: 0;
}

.topRed
{
	width: 100%;
	height: 110px;
	background-color: #980000;
}

.topRed-Login
{
	position: absolute;
	height: 35px;
	width: 400px;
	background-color: #980000;
	right: 50px;
	top: 40px;
}

.topRed-Login p 
{
	margin: auto;
	color: white;
}

.logs
{
	background-color: #980000;
	border: transparent;
	color: white;
	font-family: gill sans mt;
	font-size: 20px;
	padding: 0;
}
.search
{
	position: absolute;
	transform:scale(0.125);
	top: -110px;
	left: 85px;
}

.checkout
{
	position: absolute;
	transform: scale(0.125);
	top: -110px;
	left: 180px;
}

.logo
{
	position: absolute;
	margin-left: -830px;
	top: -490px;
	transform: scale(0.13);
}


.searchbar
{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 110px;
	background-color: #FFFFFE;
	border: 1px solid #980000;
}

#myForm
{
	position: aboslute;
	text-align: center;
}

#myForm input
{
	width: 600px;
	height: 45px;
	border-radius: 30px;
	border: 1px solid #980000;
	font-family: gill sans mt;
	font-size: 20px;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 100px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #980000;
	position:aboslute;
	border-bottom: 1px;
	}
	

ul .lii1 
{
    float: left;
}

ul .lii1 .a1 
{
    display: inline-block;
    color: #FFFFFE;    
    padding: 35px 45px;
    text-decoration: none;
	font-family: gill sans mt;
	font-size: 25px;
	width: 80px;
	text-align: center;
	margin-left: 135px;
}

ul .lii1 .a1:hover 
{
   
	color: black;
}

ul .lii1 .a1:active 
{
    background-color: #980000;
	color: #FFFFFE;
}

.carousel {
	margin-top: 20px;
	display: block;
}

.a1 {
	padding: 200px;
}

.homePic
{
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 80%;
	height: auto;
}

.offers
{
	height: 600px;
	width: 1000px;
	margin: 0 auto;
}
.offers .galleryH
{
	border: transparent;
	float: left;
	margin: 100px 65px;
	box-shadow: 5px 5px 20px #888888;
}

.offers .galleryH:hover
{
	transform:scale(1.1);
}

.offers .descc
{
	text-align: center;
	padding:4px;
	border-top: 1px solid black;
	font-family: gill sans mt;
	font-size: 19px;
}
/*.offers .img2
{
	margin: 120px 60px;
	border: 1px solid red;
}
.offers .img3
{
	margin: 120px 60px;
	border: 1px solid red;
} */

.gallery1 {
    border: 1px solid #ccc;
    float: left;
    width: 16.6%;
	margin-left: auto;
	margin-right: auto;
}

.gallery1:hover {
    border: 1px solid #777;
}

.gallery1 img {
    width: 100%;
    height: auto;
}

.desc1 {
    padding: 15px;
    text-align: center;
}

.center {
	width: 90%;
	position: absolute;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
}











